.category-name{
    display: flex;
    border: 2px solid rgb(0, 224, 67);
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
    min-width: 1100px;
  }
  
  .category{
    width: 17%;
    height: 50px;
    border: 2px solid rgb(43, 208, 226);
    /* margin: 1vw; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }